<?xml version="1.0"?>
<!-- node_name: make sure the different between the each IMU node
     ID : ID must be spcific
     serialport_name: /dev/ttyUSB* (default, * depending on the USB hub)
 -->
<launch>
    <arg name="node_name" default="imu_2"></arg>
    <param name = "ID" type="string" value ="2"/>
    
    <node pkg="wt931" type="IMU_pub.py" name="$(arg node_name)" clear_params="true" output="screen" >
        <param name = "serialport_name" type="string" value = "/dev/ttyUSB2"/> 
        <param name = "baudrate" type="int" value = "921600"/>
    </node>
</launch>